<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY Booking</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;

    }
</style>

<body>
    <table>
        <thead>
            <tr>
                <th>Username </th>
                <th>User Email</th>
                <th>For</th>
                <th>How Many</th>
                <th>Arrivals</th>
                <th>Leaving</th>
            </tr>
        </thead>
        <tbody>
            {% for bc in con %}
            <tr>
                {% for book in bc %}
                {% if forloop.first %}
                {% else %}
                <td>{{book}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>